*,
*::before,
*::after {
	box-sizing: border-box
}

* {
	margin: 0;
	padding: 0
}

body {
	font-family: 'Muli', sans-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	color: black;
	background-color: black;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}